/* Custom Properties */
:root {
  --first-about-color: #244eb9;
  --second-about-color: #ffab19;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #ddd;
  --font: "Montserrat", sans-serif;
  --border: 0.1rem solid var(--first-main-color);
  --border-radius: 0.5rem;
  --max-width: 1200px;
}

/********** Reset **********/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

img {
  max-width: 100%;
  height: auto;
}

/********** Utilities **********/

.btn {
  width: 200px;
  margin: 2rem;
  padding: 1rem;

  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  border-radius: var(--border-radius);
  background: var(--first-color);
  color: var(--black-color);
  transition: box-shadow 1s;
}

.btn:hover {
  box-shadow: rgba(243, 178, 74, 0.3) 0.313rem 0.313rem,
    rgba(243, 178, 74, 0.2) 0.625rem 0.625rem,
    rgba(243, 178, 74, 0.1) 0.938rem 0.938rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  padding: 0 3rem;
}

.none {
  display: none;
}

/********** Site Styles **********/

.body-background {
  background-image: url("../assets/background-body.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about p {
  margin: 1rem auto;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.title {
  font-size: 2.2rem;
  margin: 1rem auto;
  text-align: center;
  border-bottom: medium solid var(--second-about-color);
}

/* footer */
.footer {
  margin-top: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  color: var(--white-color);
  background: rgba(23, 23, 23, 0.6);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.footer a {
  color: var(--second-about-color);
}
